.label {
    display: block;
    margin-bottom: 20px;
}

.header-title {
    color: white;
    background-color: red;
}

/* add styles -   index.html - <div id="root"></div> #root */
#root {
    background-image: url('./images/bg.jpg');
}

/* add pictures */
.image {
max-width: 50px;
}